
@{
    ViewBag.Title = "Order";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Tài khoản của tôi</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item" href="page-profile-main.html"> Tài khoản của tôi  </a>
                    <a class="list-group-item " href="page-profile-address.html"> Địa chỉ của tôi </a>
                    <a class="list-group-item active" href="page-profile-orders.html"> Đơn hàng của tôi </a>
                    <a class="list-group-item" href="page-profile-wishlist.html"> Sản phẩm được bán bởi tôi</a>
                    <a class="list-group-item" href="page-profile-setting.html"> Yêu thích </a>
                    <a class="list-group-item" href="page-index-1.html"> Đăng xuất </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card mb-4">
                    <header class="card-header">
                        <a href="#" class="float-right"> <i class="fa fa-print"></i>In</a>
                        <strong class="d-inline-block mr-3">Mã đơn hàng: 6123456789</strong>
                        <span>Ngày đặt hàng: 20.02.2023</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted">Giao tới</h6>
                                <p>
                                    Hoàng Phạm<br />
                                    Phone (+84)965595435 Email: hoangpham@gmail.com <br>
                                    Địa chỉ: Hẻm 51/68/21 Trình Đình Trọng, <br>
                                    P.Tân Phú, TP.HCM
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-muted">Thanh toán</h6>
                                <span class="text-success">
                                    <i class="fab fa-lg fa-cc-visa"></i>
                                    Visa  **** 4216
                                </span>
                                <p>
                                    Tổng phụ: 3.190.000₫ <br>
                                    Phí vận chuyển:  0₫ <br>
                                    <span class="b">Tổng: 3.190.000₫</span>
                                </p>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td width="65">
                                        <img src="~/Content/images/items/1-1.jpg" class="img-xs border">
                                    </td>
                                    <td>
                                        <p class="title mb-0">Áo thun MLB Diamond Monogram Boston Red Sox ‘Black’ 3ATSM4023-43BKS </p>
                                        <var class="price text-muted">1.690.000₫</var>
                                    </td>
                                    <td> Người bán  <br> NV.Nguyễn Văn A </td>
                                    <td width="250">
                                        <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                        <div class="dropdown d-inline-block"><br />
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary"> Xem thêm</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Quay lại</a>
                                                <a href="#" class="dropdown-item">Hủy đơn đặt hàng</a>
                                            </div>
                                        </div> <!-- dropdown.// -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/items/3-0.jpg" class="img-xs border">
                                    </td>
                                    <td>
                                        <p class="title mb-0">Quần Short adidas Own The Run Sho ‘Black’ HE9259 </p>
                                        <var class="price text-muted">700.000₫</var>
                                    </td>
                                    <td> Người bán <br> NV.Nguyễn Văn A </td>
                                    <td>
                                        <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                        <div class="dropdown d-inline-block"><br />
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Xem thêm</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Quay lại</a>
                                                <a href="#" class="dropdown-item">Hủy đơn đặt hàng</a>
                                            </div>
                                        </div> <!-- dropdown.// -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/items/2-0.jpg" class="img-xs border">
                                    </td>
                                    <td>
                                        <p class="title mb-0">Áo thun adidas Own The Run ‘Navy’ H34494 </p>
                                        <var class="price text-muted">800.000₫</var>
                                    </td>
                                    <td> Người bán <br> NV.Nguyễn Văn A </td>
                                    <td>
                                        <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                        <div class="dropdown d-inline-block"><br />
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Xem thêm</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Quay lại</a>
                                                <a href="#" class="dropdown-item">Hủy đơn đặt hàng </a>
                                            </div>
                                        </div> <!-- dropdown.// -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive .end// -->
                </article> <!-- card order-item .// -->
                

             </div>  
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
