
@{
    ViewBag.Title = "Seller";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Tài khoản của tôi</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item" href="page-profile-main.html"> Tài khoản của tôi  </a>
                    <a class="list-group-item " href="page-profile-address.html"> Địa chỉ của tôi </a>
                    <a class="list-group-item " href="page-profile-orders.html"> Đơn hàng của tôi </a>
                    <a class="list-group-item active" href="page-profile-wishlist.html"> Sản phẩm được bán bởi tôi</a>
                    <a class="list-group-item" href="page-profile-setting.html"> Yêu thích </a>
                    <a class="list-group-item" href="page-index-1.html"> Đăng xuất </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <img src="~/Content/images/items/2-0.jpg">
                                    </div> <!-- img-wrap.// -->
                                    <figcaption class="info-wrap">
                                        <a href="#" class="title mb-2">Áo thun adidas Own The Run ‘Navy’... </a>
                                        <div class="price-wrap mb-3">
                                            <span class="price">800.000₫</span>
                                            <small class="text-muted">/1 sản phẩm</small>
                                        </div> <!-- price-wrap.// -->
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-pen"></i> Chỉnh sửa </a>
                                        <a href="#" class="btn btn-primary"> <i class="fa fa-eye"></i> Xem  </a>

                                        <hr>
                                        <a href="#" class="btn btn-success btn-block">  Tải lên </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <img src="~/Content/images/items/1-0.jpg">
                                    </div> <!-- img-wrap.// -->
                                    <figcaption class="info-wrap">
                                        <a href="#" class="title mb-2">Áo Polo Tennis Nike Court Dri-Fit ‘Blue’...</a>
                                        <div class="price-wrap mb-3">
                                            <span class="price">2.100.000₫</span>
                                            <small class="text-muted">/1 sản phẩm</small>
                                        </div> <!-- price-wrap.// -->
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-pen"></i> Chỉnh sửa </a>
                                        <a href="#" class="btn btn-primary"> <i class="fa fa-eye"></i> Xem  </a>

                                        <hr>
                                        <a href="#" class="btn btn-success btn-block">  Tải lên </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <img src="~/Content/images/items/4-1.jpg">
                                    </div> <!-- img-wrap.// -->
                                    <figcaption class="info-wrap">
                                        <a href="#" class="title mb-2">Áo khoác MLB New York Yankees Boa Premium...</a>
                                        <div class="price-wrap mb-3">
                                            <span class="price">3.590.000₫</span>
                                            <small class="text-muted">/1 sản phẩm </small>
                                        </div> <!-- price-wrap.// -->
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-pen"></i> Chỉnh sửa </a>
                                        <a href="#" class="btn btn-primary"> <i class="fa fa-eye"></i> Xem </a>

                                        <hr>
                                        <a href="#" class="btn btn-success btn-block">  Tải lên  </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <img src="~/Content/images/items/5-0.jpg">
                                    </div> <!-- img-wrap.// -->
                                    <figcaption class="info-wrap">
                                        <a href="#" class="title mb-2">Giày MLB Big Ball Chunky A La Dodgers...</a>
                                        <div class="price-wrap mb-3">
                                            <span class="price">2.390.000₫</span>
                                            <small class="text-muted">/1 sản phẩm</small>
                                        </div> <!-- price-wrap.// -->
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-pen"></i> Chỉnh sửa </a>
                                        <a href="#" class="btn btn-primary"> <i class="fa fa-eye"></i> Xem </a>

                                        <hr>
                                        <a href="#" class="btn btn-success btn-block">  Tải lên </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <img src="~/Content/images/items/2-1.jpg">
                                    </div> <!-- img-wrap.// -->
                                    <figcaption class="info-wrap">
                                        <a href="#" class="title mb-2">Áo Hoodie Nike Sportswear Essentials French Terry... </a>
                                        <div class="price-wrap mb-3">
                                            <span class="price">1.479.000₫</span>
                                            <small class="text-muted">/1 sản phẩm</small>
                                        </div> <!-- price-wrap.// -->
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-pen"></i> Chỉnh sửa </a>
                                        <a href="#" class="btn btn-primary"> <i class="fa fa-eye"></i> Xem  </a>

                                        <hr>
                                        <a href="#" class="btn btn-success btn-block">  Tải lên </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                        </div> <!-- row .//  -->

                    </div> <!-- card-body.// -->
                </article>


            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
