
@{
    ViewBag.Title = "Wishlist";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">My account</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item" href="page-profile-main.html"> Tài khoản của tôi  </a>
                    <a class="list-group-item " href="page-profile-address.html"> Địa chỉ của tôi </a>
                    <a class="list-group-item " href="page-profile-orders.html"> Đơn hàng của tôi </a>
                    <a class="list-group-item " href="page-profile-wishlist.html"> Sản phẩm được bán bởi tôi</a>
                    <a class="list-group-item active" href="page-profile-setting.html"> Yêu thích </a>
                    <a class="list-group-item" href="page-index-1.html"> Đăng xuất </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <figure class="itemside mb-4">
                                    <div class="aside"><img src="~/Content/images/items/4-1.jpg" class="border img-md"></div>
                                    <figcaption class="info">
                                        <a href="#" class="title">Áo khoác MLB New York Yankees Boa...</a>
                                        <p class="price mb-2">3.590.000₫</p>
                                        <a href="#" class="btn btn-secondary btn-sm">Thêm vào giỏ hàng </a>
                                        <a href="#" class="btn btn-danger btn-sm">Xóa </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                            <div class="col-md-6">
                                <figure class="itemside mb-4">
                                    <div class="aside"><img src="~/Content/images/items/3-0.jpg" class="border img-md"></div>
                                    <figcaption class="info">
                                        <a href="#" class="title">Quần Short adidas Own The Run Sho... </a>
                                        <p class="price mb-2">700.000₫</p>
                                        <a href="#" class="btn btn-secondary btn-sm"> Thêm vào giỏ hàng </a>
                                        <a href="#" class="btn btn-danger btn-sm">Xóa </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->

                            <div class="col-md-6">
                                <figure class="itemside mb-4">
                                    <div class="aside"><img src="~/Content/images/items/5-0.jpg" class="border img-md"></div>
                                    <figcaption class="info">
                                        <a href="#" class="title">Giày MLB Big Ball Chunky A La Dodgers... </a>
                                        <p class="price mb-2">2.390.000₫</p>
                                        <a href="#" class="btn btn-secondary btn-sm"> Thêm vào giỏ hàng </a>
                                        <a href="#" class="btn btn-danger btn-sm">Xóa </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                        </div> <!-- row .//  -->

                    </div> <!-- card-body.// -->
                </article>


            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
