@model WebBanHang.Models.HomeModels

@{
    ViewBag.Title = "Grid";
}



<section class="section-content padding-y">
    <div class="container">


        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> Danh Mục: </div> 
                    <nav class="col-md-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Giày</a></li>
                            <li class="breadcrumb-item"><a href="#">Quần áo</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Khác</li>
                        </ol>
                    </nav>
                <hr>
                <div class="row">
                    <div class="col-md-2">Lọc bởi</div>
                    <div class="col-md-10">
                        <ul class="list-inline">

                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Nơi sản xuất </a>
                                <div class="dropdown-menu p-3">
                                    <label class="form-check"> 	 <input type="checkbox" class="form-check-input"> Việt Nam   </label>
                                    <label class="form-check">   	 <input type="checkbox" class="form-check-input"> Đức     </label>
                                    <label class="form-check">    <input type="checkbox" class="form-check-input"> Hàn Quốc </label>
                                    <label class="form-check">  <input type="checkbox" class="form-check-input"> Mỹ     </label>
                                </div> 
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giày</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Nike</a>
                                    <a href="" class="dropdown-item">Adidas</a>
                                    <a href="" class="dropdown-item">MLB</a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quần áo</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Nike</a>
                                    <a href="" class="dropdown-item">Adidas</a>
                                    <a href="" class="dropdown-item">MLB</a>
                                </div>
                            </li>

                            <li class="list-inline-item mr-3">
                                <div class="form-inline">
                                    <label class="mr-2">Giá</label>
                                    <input class="form-control form-control-sm" placeholder="Min" type="number">
                                    <span class="px-2"> - </span>
                                    <input class="form-control form-control-sm" placeholder="Max" type="number">
                                    <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3">
                                <label class="custom-control mt-1 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        Ready to ship
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div> 
        

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">Các mặt hàng được tìm thấy (32) </strong>
                <select class="mr-2 form-control">
                    <option>Mặt hàng mới nhất</option>
                    <option>Xu hướng</option>
                    <option>Phổ biến nhất</option>
                    <option>Giá thấp nhất</option>
                </select>
                <div class="btn-group">
                    <a href="page-listing-grid.html" class="btn btn-light active" data-toggle="tooltip" title="List view">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="page-listing-large.html" class="btn btn-light" data-toggle="tooltip" title="Grid view">
                        <i class="fa fa-th"></i>
                    </a>
                </div>
            </div>
        </header>

        <div class="row">
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(5))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("Detail", "Product", new { id = item.Id})" class="img-wrap">
                                <img src="@item.Avartar" width="50%" height="100">
                            </a>
                            <div class="text-wrap p-3">
                                @*<a href="#" class="title">@item.Name</a>*@
                                @Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, null)
                                <span class="badge badge-danger"> -10% </span>
                            </div>
                        </figure>
                    </div>
                }

            </div>



        </div>


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Trước</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Sau</a></li>
            </ul>
        </nav>


        <div class="box text-center">
            <p>Bạn đã tìm thấy những gì bạn đang tìm kiếm?</p>
            <a href="" class="btn btn-light">Yes</a>
            <a href="" class="btn btn-light">No</a>
        </div>

    </div>
</section>

    <div class="container">

        <p class="pb-2 text-center">Cung cấp các sản phẩm và tin tức về sản phẩm mới vào hộp thư đến của bạn.</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Email của bạn" type="email">
                    </div> 
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i>Gửi </button>
                    </div> 
                </form>
                <small class="form-text">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với người khác. </small>
            </div> 
        </div>


    </div>
</section>



